<div class="row" id="filterDiv">


        <div class="col-8">

            <% if (workItems != null) { %>                
                <div class="p-2 pr-2 pb-2">

                    <!-- Total number of work items -->
                    <button type="button" class="btn btn-outline-light btn-sm invisible"> <span id="numberOfWorkItems"> 0 Work Items</span></button>

                    <!-- Active work Items -->
                    <button type="button" class="btn btn-outline-info btn-sm invisible"> <span id="numberOfActiveWorkItems"> </span> Active</button>

                    <!-- IN REVIEW work items -->
                    <button type="button" class="btn btn-outline-warning btn-sm invisible"> <span id="numberOfReviewWorkItems">  </span> In Review</button>

                </div>
            <% } %>

        </div>

        <div class="col-4 d-flex flex-row-reverse" >

            <% if (projectTeams.length > 1){ %>
                <div class="p-2 pr-2 pb-2">

                    <div class="button-group" >
                        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" id="filter-btn-team">
                            Team 
                        </button>

                        <ul class="dropdown-menu filterOptions" >

                            <% for (let i = 1; i < projectTeams.length; i++) { %>
                                <li class="clearTeam">
                                    <label class="small checkbox-container">
                                        <input class="teamCheckbox" type="checkbox" value="<%=projectTeams[i]['name']%>"/>
                                        <%=projectTeams[i]['name']%>
                                    </label>
                                </li>
                            <%}%>

                            <div class="d-flex flex-row-reverse filterDivisor">
                                <button type="button" class="btn btn-secondary btnClear" id="clearTeam">Clear</button>
                            </div>
                        </ul>
                        
                    </div>
                </div>
            <%}%>

            <div class="p-2 pb-2">

                <div class="button-group">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"  id="filter-btn-state">
                        State 
                    </button>

                    <ul class="dropdown-menu filterOptions">

                        <% for (const [key, value] of Object.entries(statusWorkItem)) { %>
                            <li class="clearState">
                                <label class="small checkbox-container">
                                    <input class="stateCheckBox" type="checkbox" value="<%=key%>"/>&nbsp; <i class="fa fa-circle <%=value['class']%>" aria-hidden="true"></i> <%=key%>
                                </label>
                            </li>
                        <%}%>

                        <div class="d-flex flex-row-reverse filterDivisor">
                            <button type="button" class="btn btn-secondary btnClear" id="clearState">Clear</button>
                        </div>
                    </ul>
                </div>

            </div>

            <div class="p-2 pb-2">

                <div class="button-group">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" id="filter-btn-user">
                        Assigned User
                    </button>

                    <ul class="dropdown-menu filterOptions" id="filterUser">

                        <% for(let user of assignedUsers){ %>

                            <li class="clearUser">
                                <!-- TODO: add width on user if case user name is to big -->
                                <label class="small checkbox-container">
                                    <input type="checkbox" class="userCheckbox" value="<%=user['name']%>"/>&nbsp; <%=user['name']%>
                                </label>
                            </li>
                        <%}%>

                        <div class="d-flex flex-row-reverse filterDivisor">
                            <button type="button" class="btn btn-secondary btnClear" id="clearUser">Clear</button>
                        </div>
                    </ul>
                </div>

            </div>
            
            
            <div class="p-2 pb-2">
                <div class="button-group">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" id="filter-btn-type">
                        Type 
                    </button>

                    <ul class="dropdown-menu filterOptions" id="filterType">

                        <% for(let key in workItemType){ %>

                            <li class="clearType">
                                <label class="small checkbox-container">
                                    <input type="checkbox" class="typeCheckBox" value="<%=key%>"/>&nbsp; <i class="fas <%=workItemType[key].icon%> small-fas"></i>  <%=key%>
                                </label>
                            </li>
                        <%}%>

                        <div class="d-flex flex-row-reverse filterDivisor">
                            <button type="button" class="btn btn-secondary btnClear" id="clearType">Clear</button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
</div>