<div class="row" id="filterDiv">


    <div class="col-8">

        <% if (workItems != null) { %>
        <div class="p-2 pr-2 pb-2 filter-text">

            <!-- Total number of work items -->
            <button type="button" class="btn btn-outline-light btn-sm invisible feedbackWorkItemBtn" id="totalNumberOfWorkItemsBtn"> 
                <span id="numberOfWorkItems"> 0 Work Items</span></button>

            <!-- Active work Items -->
            <button type="button" class="btn btn-outline-info btn-sm invisible feedbackWorkItemBtn" id="activeWorkItemsBtn"> 
                <span id="numberOfActiveWorkItems"></span> <span> Active</span>
            </button>

            <!-- IN REVIEW work items -->
            <button type="button" class="btn btn-outline-warning btn-sm invisible feedbackWorkItemBtn" id="reviewWorkItemsBtn"> 
                <span id="numberOfReviewWorkItems"></span> <span> In Review </span>
            </button>

            <% if (showCompletedWorkItems) { %>
                <!-- Completed work items -->
                <button type="button" class="btn btn-outline-success btn-sm invisible feedbackWorkItemBtn" id="completedWorkItemsBtn"> 
                    <span id="numberOfCompletedWorkItems"></span> <span> Completed </span>
                </button>

                <!-- TOTAL POINTS -->
                <button type="button" id="showPointsBtn" data-toggle="modal" data-target="#showPointsGraphModal" class="btn btn-outline-light btn-sm"> 
                    <span id="numberOfPoints"></span>
                </button>
            <%}%>

        </div>
        <% } %>

    </div>

    <div class="col-4 d-flex flex-row-reverse table-filter-container filter-text">

        <% if (projectTeams.length > 1){ %>
            <!-- TEAMS -->
            <div class="p-2 pr-2 pb-2">

                <div class="button-group">
                    
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                        id="filter-btn-team">
                        <span> Team </span>
                    </button>

                    <ul class="dropdown-menu filterOptions" id="filter-by-teams">

                        <% for (let i = 0; i < projectTeams.length; i++) { %>
                            <li id="<%=projectTeams[i]['id']%>">
                                <label class="small checkbox-container">
                                    <input class="teamCheckbox" type="checkbox" value="<%=projectTeams[i]['name']%>" />
                                    <span> <%=projectTeams[i]['name']%> </span>
                                </label>
                            </li>
                        <%}%>

                        <div class="d-flex flex-row-reverse filterDivisor">
                            <button type="button" class="btn btn-secondary btnClear" id="clearTeam">
                               <span> Clear</span>
                            </button>
                        </div>
                    </ul>
                            
                </div>
            </div>
        <%}%>

        <!-- STATUS -->
        <div class="p-2 pb-2">

            <div class="button-group">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                    id="filter-btn-state">
                    State
                </button>

                <ul class="dropdown-menu filterOptions" id="filter-by-status">

                    <% for (const [key, value] of Object.entries(statusWorkItem)) { %>
                        <li>
                            <label class="small checkbox-container">
                                <input class="stateCheckBox" type="checkbox" value="<%=key%>" />&nbsp; <i
                                    class="fa fa-circle <%=value['class']%>" aria-hidden="true"></i>  
                                    <span><%=key%></span>
                            </label>
                        </li>
                    <%}%>

                    <div class="d-flex flex-row-reverse filterDivisor">
                        <button type="button" class="btn btn-secondary btnClear" id="clearState">
                            <span> Clear </span>
                        </button>
                    </div>
                </ul>
            </div>

        </div>

        <!-- USERS -->
        <div class="p-2 pb-2">

            <div class="button-group">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm filter-text-btn" data-toggle="dropdown" id="filter-btn-user">
                    <span> Assigned User </span>
                </button>

                <ul class="dropdown-menu filterOptions" id="filter-by-user">

                    <% for(let user of assignedUsers){ %>
                        <li id="<%=user['id']%>">
                            <!-- TODO: add width on user if case user name is to big -->
                            <label class="small checkbox-container">
                                <input type="checkbox" data-id="<%=user['id']%>" class="userCheckbox" value="<%=user['name']%>" />&nbsp;
                               <span> <%=user['name']%> </span>
                            </label>
                        </li>
                    <%}%>

                    <div class="d-flex flex-row-reverse filterDivisor">
                        <button type="button" class="btn btn-secondary btnClear" id="clearUser">
                            <span> Clear</span>
                        </button>
                    </div>
                </ul>
            </div>

        </div>
        
        <!-- TYPES -->
        <div class="p-2 pb-2">
            <div class="button-group">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" id="filter-btn-type">
                    <span> Type </span>
                </button>

                <ul class="dropdown-menu filterOptions" id="filter-by-type">

                    <% for(let key in workItemType){ %>

                            <li class="clearType">
                                <label class="small checkbox-container">
                                    <input type="checkbox" class="typeCheckBox" value="<%=key%>" />&nbsp; <i
                                        class="fas <%=workItemType[key].icon%> small-fas"></i> 
                                    <span> <%=key%> </span>
                                </label>
                            </li>
                            <%}%>

                    <div class="d-flex flex-row-reverse filterDivisor">
                        <button type="button" class="btn btn-secondary btnClear" id="clearType">
                            <span>Clear</span>
                        </button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>