<!-- ========= MODALS =========  -->

<!-- User Modals -->
<% if (addUserModal) { %>
    <%- include('user/add-user-project'); %>
    <%- include('user/remove-user-project'); %>
<% } %>

<!-- team Modals -->
<% if (assignedUsers) { %>
    <%- include('team/create-team'); %>
<% } %>

<% if (projectTeams) { %>
    <%- include('team/delete-team'); %>
<% } %>

<input type="hidden" id="current-page" name="currentPage" value="<%=currentPage%>">

<!-- ==========================  -->

<!-- Dependecies -->
<script src="/javascripts/dependecies/jquery3.5.2.js"></script>
<script src="/javascripts/dependecies/validator.min.js"></script>
<script src="/javascripts/dependecies/lodash.js"></script>
<script src="/javascripts/work-item-constants.js"></script>
<script src="/javascripts/dependecies/notify.min.js"></script>
<script src="/javascripts/helpers.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<!-- Add defaults for notify -->
<script>
    $.notify.defaults({ "autoHideDelay": 4000, "position":"top center"});
</script>


<!-- Adding scritps -->
<% if (scriptsPath){ %>
    <% for (let path of scriptsPath){ %>
        <script src="<%=path%>"> </script>
    <%}%>
<% } %>
</body>
</html>
<!-- https://bootswatch.com/darkly/ -->
