<!-- Large modal -->
<div class="modal fade work-item-information" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Work item </h5> &nbsp; &nbsp; <i
                    class="fas fa-bolt taskIcon"></i>
                <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <fieldset>

                    <div class="row">

                        <div class="col-12">
                            <div class="d-inline-flex titleAndId">
                                
                                <div class="labelForTitle">
                                    <label for="title"> <span id="update-work-item-sub-id"></span> </label>
                                </div>
                                <!-- TITLE -->
                                <div class="inputForTitle">
                                    <input type="text" 
                                    autocomplete="off" 
                                    name="title" 
                                    id="update-work-item-title"
                                    class="bx-shadow " 
                                    value="0" 
                                    placeholder="Enter title">        
                                </div>
                            </div>
                        </div>

                        <div class="col ml-12">
                            <span id="update-title-span-msg" class="d-none">
                                <i class="fas fa-exclamation-circle"></i>
                                Title cannot be empty
                            </span>
                        </div>
                    </div>

                    <div class="row no-m-bt">
                        <div class="col-3">

                            <div class="form-group d-flex">
                                <i class="fas fa-user userLogo"></i>

                                <!-- ASSIGNED USER -->
                                <select class="custom-select my-custon-select" name="userAssigned" id="update-assigned-user">
                                    <% for (user of assignedUsers){ %>
                                        <option value="<%=user['id']%>"> <%=user["name"]%> </option>
                                    <%}%>
                                </select>
                            </div>

                        </div>

                        <div class="col-1">
                            <span>
                                <i class="fas fa-comments"></i> <span id="update-number-of-comments"> </span>
                            </span>
                        </div>

                        <div class="col-7 update-tags-container">
                            <button type="button" id="udpate-add-tags-btn" class="btn btn-primary">
                                Add tag
                            </button>
                        </div>

                        <!-- BUTTON TO SAVE THE WORK ITEM STATUS -->
                        <div class="col">
                            <div class="saveStatusBtn" id="saveStatusBtn">
                                <i class="far fa-save"></i>
                                <span class="tooltiptext">Save</span>
                            </div>
                        </div>
                    </div>

                    <div class="row create-work-item-bg">
                        <div class="col-12 mt-4">
                            <div class="row">
                                <div class="col-3 d-flex">
                                    <span class="aling-vertically align-self-center"> Status: </span>


                                    <ul class="nav nav-pills flex-column" id="customSelectStatus">
                                        <li class="nav-item dropdown">
                                            <!-- STATUS -->
                                            <a class="nav-link dropdown-toggle currentWorkItemStatus"
                                                data-toggle="dropdown" 
                                                href="#" 
                                                role="button"
                                                aria-haspopup="true" 
                                                id="update-current-work-item-status"
                                                aria-expanded="false">
                                                
                                                <% for (const [key, value] of Object.entries(statusWorkItem)) { %>
                                                        <i class="fa fa-circle <%=value['class']%>" aria-hidden="true"></i>
                                                        <%=key%>
                                                        <%break%>
                                                <%}%>
                                            </a>

                                            <div class="dropdown-menu">

                                                <% for (const [key, value] of Object.entries(statusWorkItem)) { %>
                                                    <a class="dropdown-item update-btn-status" href="#">
                                                        <span class="<%=key%>"> 
                                                            <i class="fa fa-circle <%=value['class']%>" aria-hidden="true"></i>
                                                            <%=key%>
                                                        </span>
                                                    </a>
                                                <%}%>
                                            </div>
                                        </li>
                                    </ul>
                                    <input type="hidden" name="workItemStatus" id="update-work-item-status" value="New">

                                </div>

                                <div class="col-4 d-flex teamAssigned-container">
                                    <span class="aling-vertically align-self-center"> Team: </span>
                                    <select class="custom-select my-custon-select "  name="teamAssigned" id="update-work-item-team">
                                        <% for (team of projectTeams){ %>
                                            <option value="<%=team['id']%>"><%=team['name']%></option>
                                        <%}%>   
                                    </select>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-3 d-flex">
                                    <span class="aling-vertically align-self-center"> Type: </span>

                                    <ul class="nav nav-pills flex-column" id="customSelect">
                                        <li class="nav-item dropdown">
                                            <!-- TYPE -->
                                            <a 
                                            class="nav-link dropdown-toggle" 
                                            data-toggle="dropdown" 
                                            href="#" 
                                            role="button" 
                                            aria-haspopup="true"  
                                            id="update-current-type"
                                            aria-expanded="false"> 
                                                <% for(let key in workItemType){ %>
                                                    <% if (workItemType[key].default){ %>
                                                        <i class="fas <%=workItemType[key].icon%>"></i> &nbsp; <%=key%>
                                                        <%break;%>
                                                    <%}%>
                                                <%}%>
                                            </a>

                                            <div class="dropdown-menu">
                                                <% for(let key in workItemType){ %>
                                                    <a class="dropdown-item update-btn-type" href="#"> 
                                                        <span class="<%=key%>"> 
                                                            <i class="fas <%=workItemType[key].icon%>"></i> &nbsp; <%=key%>  
                                                        </span>    
                                                    </a>
                                                <%}%>
                                            </div>
                                        </li>
                                    </ul>
                                    <input type="hidden" name="workItemType" id="update-work-item-type" value="story">
                                </div>

                                <div class="col-4 d-flex">
                                    <span class="aling-vertically align-self-center"> Iteration: </span>
                                    <select class="custom-select my-custon-select " name="sprint"  id="update-work-item-sprints">
                                        <% for (sprint of sprints){ %>                                            
                                            <option value="<%=sprint['_id']%>">
                                                <%=sprint["name"]%>
                                            </option>
                                        <%}%>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div id="main-body-container-modal">
                        <div class="row desc-planing-development">

                            <div class="col">
                                <h5 class="pd-p">Description</h5>
                                <textarea 
                                name="workItemDescription" 
                                id="update-work-item-description"
                                rows="10" 
                                placeholder="Enter Description."
                                class="bx-shadow descriptionBox"></textarea>
                            </div>

                            <div class="col-3 planing-work-item">
                                <h5 class="pd-p">Planing</h5>

                                <p>Story Points</p>
                                <input type="text" name="storyPoints" class="input-style" id="update-work-item-points" placeholder="Enter points: i.e 5">

                                <p>Priority</p>
                                <select
                                    class="custom-select my-custon-select input-border"
                                    name="priorityPoints" 
                                    id="update-work-item-priority" 
                                    aria-label="Default select example">

                                    <% for( const [key, value] of Object.entries(priorityPoints) ) { %>
                                        <option value="<%=value%>"> <%=key%> - <%=value%> </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="col-3 addLink">
                                <h5 class="pd-p">Related work</h5>
                                <p> <i class="fas fa-plus "></i> Add link</p>
                            </div>

                        </div>

                        <div class="row desc-planing-development">
                            <div class="col-6">
                                <h5 class="pd-p">Discussion</h5>
                                <textarea 
                                name="comments" 
                                id="update-work-item-comments"
                                rows="4"
                                placeholder="Add a comment for this story." 
                                class="bx-shadow addCommentBox"></textarea>
                            <button id="update-add-comment" type="button" class="btn btn-success addComment">Add</button>
                            </div>
                        </div>

                        <div class="col-6 comments-container">
                            <div class="user-comments-container">
                                    
                            </div>
                        </div>
                    </div>

                   

                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="workItemId" id="workItemId" value="0">
</div>