<%- include('templates/header'); %>

<body>

    <%- include('templates/top-navbar'); %>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('templates/left-sidebar'); %>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <%- include('templates/title-options-menu'); %>

            <div class="container-fluid statistics-boxs">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-2">

                    <i class="fas fa-users"></i>
                    <div class="filterByTeamContainer">
                        <% if(userTeam && userTeam['_id'] != '0'){ %>
                            <select 
                            class="custom-select my-custon-select input-border seletedTeamToFilter"
                            name="filterByTeam" 
                            id="filterByTeam" 
                            aria-label="Default select example">

                                <% if (projectTeams.length > 1){ %>
                                    <% for (let i = 0; i < projectTeams.length; i++) { %>

                                        <% if (projectTeams[i]['id'] == userTeam._id) { %> 
                                            <option value="<%=projectTeams[i]['id']%>" selected><%=projectTeams[i]['name']%></option>
                                        <% }else{ %>
                                            <option value="<%=projectTeams[i]['id']%>"><%=projectTeams[i]['name']%></option>
                                        <% } %>
                                    
                                    <% } %>
                                <% } else { %>
                                    <option value="0" selected>Not team found</option>
                                <% } %>
                                
                            </select>
                        <% }else{ %>
                            <select 
                            class="custom-select my-custon-select input-border"
                            name="filterByTeam" 
                            id="filterByTeam" 
                            aria-label="Default select example"
                            disabled>
                            </select>
                        <% } %>
                    </div>
                
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item trashIconWrapper">
                                &nbsp;
                                <button id="trashBtnWorkItem" class="trash-btn" disabled data-toggle="modal" data-target="#remove-confirmation-modal"> 
                                    <i class="far fa-trash-alt grayColor"></i> 
                                </button>
                            </li>

                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <input id="searchTable" class="form-control mr-sm-2" type="text" placeholder="Search">
                            
                            <button id="filterBtn" class="btn btn-secondary my-2 my-sm-0 filterBtn">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <!-- INCLUDE FILTER DIV HERE -->
                </nav>

            <%- include('templates/filter'); %>
            </div>

            <!-- SHOW WHEN EMPTY -->
            <% if (workItems.length == 0) {%>
                <%- include('templates/info/when-not-team'); %>      
                <div class="p-4 hide-functional-scroll" id="table-container" style="display: none;">      
            <% } else { %>
                <div class="p-4 hide-functional-scroll" id="table-container">      
            <% } %>
                <table class="table table-hover" id="workItemTable">
                    <thead>
                        <%- include('templates/table-work-items/header'); %>
                    </thead>
                    <tbody class="backlog-table-body">
                        <% for (let i = 0, order = 1; i < workItems.length; ++i) {%>

                            <% if(workItems[i].show){ %>

                                <tr class="rowValues" id="<%=workItems[i]['_id']%>">
                                    
                                    <!-- Checkbox -->
                                    <%- include('templates/table-work-items/toggle-checkbox', {i}); %>
                                    
                                    <!-- ID -->
                                    <%- include('templates/table-work-items/id-column', {i}); %>
                                    
                                    <!-- Type - HIDDEN -->
                                    <%- include('templates/table-work-items/type-column', {i}); %>
                                    
                                    <!--  TITLE -->
                                    <%- include('templates/table-work-items/title-column', {i}); %>
                                    
                                    <!-- SUB MENU - BACKLOG -->
                                    <%- include('templates/table-work-items/sub-menu/backlog', {i}); %>
                                    
                                    <!-- ASSIGNED -->
                                    <%- include('templates/table-work-items/user-column', {i}); %>
                                    
                                    <!-- STATUS -->
                                    <%- include('templates/table-work-items/status-column', {i}); %>

                                    <!-- TAGS -->
                                    <%- include('templates/table-work-items/tags-column', {i}); %>

                                    <!-- COMMENTS -->
                                    <%- include('templates/table-work-items/comments-column', {i}); %>
                                </tr>
                            <%}%>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>

        <%- include('templates/right-sidebar-menu'); %>
    </div>

    <%- include('modals/workItemSubMenu/move-to-sprint'); %>


<%- include('templates/footer'); %>