<%- include('modals/header'); %>

<body>

    <%- include('modals/topNavbar'); %>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('modals/sideNavbar'); %>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <%- include('modals/titleOptionsMenu'); %>

            <div class="container-fluid statistics-boxs">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark big-text">
                
                    <div class="collapse navbar-collapse mb-2" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                    href="#"
                                    role="button"
                                    id="open-create-team-modal"
                                    data-toggle="modal" 
                                    data-target=".create-team-modal">
                                    <i class="fas fa-plus addIcon"></i> Create Team
                                </a>
                            </li>

                            <li class="nav-item ml-2">
                                <a class="nav-link" 
                                    href="#" 
                                    role="button" 
                                    data-toggle="modal"
                                    data-target="#add-user-to-team-modal">
                                    <i class="fas fa-user-plus addIcon"></i> Add Users To Team
                                </a>
                            </li>

                            <li class="nav-item trashIconWrapper">
                                &nbsp;
                                <button id="trashBtnManage" class="trash-btn" disabled data-toggle="modal" data-target="#remove-confirmation-modal">
                                    <i class="far fa-trash-alt grayColor"></i> 
                                </button>
                            </li>

                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <input id="filter-manage-team" class="form-control mr-sm-2" type="text" placeholder="Email or Name">
                            
                            <button id="filterBtn" class="btn btn-secondary my-2 my-sm-0 filterBtn">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <!-- INCLUDE FILTER DIV HERE -->
                </nav>


            </div>

            <div class="p-4" id="table-container">
                <table class="table table-hover team-table" id="manage-table">
                    <thead>
                        <tr class="tableHeader">
                            <th class="tableCheckBoxRowHeader">Check</th>
                            <th class="column-edit-team" scope="col">Name</th>
                            <th scope="col">Number of user</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let team of projectTeams) {%>
                            <tr class="rowValues" id="<%=team['_id']%>">
                                
                                <td class="tableCheckBoxRowElement"> 
                                    <label class="invisible labelcheckbox"> 
                                        <input type="checkbox" aria-label="table-row-checkbox" name="checkboxWorkItem[]" value="<%=team['_id']%>" class="checkboxRowElement" />
                                    </label> 
                                </td>

                                <td class="row-team-name">
                                    <%=team["name"]%>
                                </td>

                                <td class="column-view-team-users">
                                    <button 
                                        class="btn btn-warning edit-user-team-btn btn-view-user-modal-open"  
                                        data-toggle="modal"
                                        data-target="#view-team-users-modal">
                                        <%=team["users"].length%>
                                    </button>
                                </td>

                                <!-- EDIT TEAM -->
                                <td class="column-edit-team">
                                    <button 
                                        class="btn btn-warning edit-user-team-btn btn-update-team-modal-open"  
                                        data-toggle="modal" 
                                        data-target=".edit-team-modal">
                                        <i class="fas fa-user-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" name="projectId" id="projectId" value="<%=projectId%>">
        <input type="hidden" name="currentTab" id="currentTab" value="<%=activeTab%>">
        <input type="hidden" name="currentSelectedTeam" id="currentSelectedTeam">

    </div>


    <%- include('modals/team/add-user-team'); %>
    <%- include('modals/team/edit-team'); %>
    <%- include('modals/team/view-team-users'); %>



<%- include('modals/footer'); %>