<%- include('modals/header'); %>

<body>

    <%- include('modals/topNavbar'); %>

    <div class="wrapper d-flex align-items-stretch" >

        <%- include('modals/sideNavbar'); %>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <%- include('modals/titleOptionsMenu'); %>

            <div class="container-fluid statistics-boxs">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                    <button class="navbar-brand" id="createWorkItem" data-toggle="modal" data-target=".createNewItemModal">
                        <i class="fas fa-plus"></i> Create Work Item
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Columns options</a>
                            </li>


                            <li class="nav-item trashIconWrapper">
                                &nbsp;
                                <button id="trashBtnWorkItem" class="trash-btn" disabled> <i class="far fa-trash-alt grayColor"></i> </button>
                            </li>

                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <input id="searchTable" class="form-control mr-sm-2" type="text" placeholder="Search">
                            
                            <button id="filterBtn" class="btn btn-secondary my-2 my-sm-0 filterBtn">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <!-- INCLUDE FILTER DIV HERE -->
                </nav>

                <%- include('modals/filter'); %>
            </div>

            <div class="p-4" id="table-container">
                <table class="table table-hover" id="workItemTable">
                    <thead >
                        <tr class="tableHeader">
                            <th class="tableCheckBoxRowHeader"> 
                                <input type="checkbox" name="checkAll" id="checkAllTableRow"/>
                                <span class="d-none">checkbox</span>
                            </th>
                            <th scope="col" class="tableColumnID">ID</th>
                            <th class="d-none" scope="col">Type</th>
                            <th class="col-title" scope="col">Title</th>
                            <th scope="col" class="thworkItemSubMenu"> <span class="d-none">submenu</span> </th>
                            <th class="col-assigned-user" scope="col">Assigned</th>
                            <th scope="col">State</th>
                            <th scope="col">Team</th>
                            <th scope="col">Iteration</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < workItems.length; ++i) {%>
                            <tr class="rowValues <%=workItems[i]['status']%>" id="<%=workItems[i]['_id']%>">
                                
                                <!-- CHECKBOX -->
                                <td class="tableCheckBoxRowElement"> 
                                    <label for="checkboxRowElement" class="invisible labelcheckbox"> 
                                        <input type="checkbox" name="checkboxWorkItem[]" value="<%=workItems[i]['_id']%>" class="checkboxRowElement" />
                                    </label> 
                                </td> 
                                
                                <!-- ID -->
                                <td class="tableColumnID"> <%=workItems[i]["itemId"]%></td>
                                
                                <!-- TYPE: HIDEN -->
                                <td class="d-none" > <i class="fas <%=workItemType[workItems[i]['type']].icon%>"></i> <%=workItems[i]["type"]%></td>
                                
                                <!-- TITLE -->
                                <td class="openStory">
                                    <a href="/dashboard/<%=projectId%>/planing/workitems/<%=workItems[i]['_id']%>" class="open-existing-work-item-modal" rel="<%=workItems[i]['_id']%>">
                                        <span class="table-icon"> <i class="fas <%=workItemType[workItems[i]['type']].icon%>"></i> </span>  <%=workItems[i]["title"]%> 
                                    </a> 
                                </td>

                                <!-- Sub MENU -->
                                <td class="tdWorkItemSubMenu">
                                    <span class="btn btn-outline-info workItemOpenSubMenu" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v workItemSubMenuIcon"></i>
                                    </span>
                                    <div id="workItemSubMenu" class="dropdown-menu " data-bs-popper="none">

                                        <a class="dropdown-item subMenuItem subMenuAssignUser"  data-toggle="modal" data-target="#assign-to-user-modal" href="#" id="<%=workItems[i]['_id']%>">
                                            Assign to a user <i class="fas fa-user-astronaut"></i>
                                        </a>
                                        <div class="dropdown-divider"></div>

                                        <a class="dropdown-item subMenuItem subMenuAssignTeam" data-toggle="modal" data-target="#assign-to-team-modal" href="#" id="<%=workItems[i]['_id']%>">
                                            Assign to a team <i class="fas fa-users"></i>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        
                                        <a class="dropdown-item subMenuItem subMenuChangeStatus" href="#" id="<%=workItems[i]['_id']%>">
                                            Change status
                                        </a>
                                </td>
        
                                <!-- ASSIGNED -->
                                <td> <i class="fas fa-user-astronaut"></i> <span class="userName"><%=workItems[i]["assignedUser"]["name"]%></span></td>
        
                                <!-- STATUS -->
                                <td><i class="fa fa-circle <%=workItems[i]['status']%>Color" aria-hidden="true"></i> <%=workItems[i]["status"]%></td>
                             
                                <!-- TEAM -->
                                <td class="teamColumnName"> <%=workItems[i]["team"]["name"]%></td>
        
                                <!-- SPRINT -->
                                <td> <%=workItems[i]["sprint"]["name"]%></td>
        
                                <!-- TAGS -->
                                <td class="tags-td"> 
                                    <% if (workItems[i]["tags"].length > 0)  {%>
                                        <% workItems[i]["tags"].forEach(each => { %>
                                            <span class="btn btn-info disabled btn-sm tags-container"><%=each%> </span>
                                        <% }); %>
                                    <% } %>
                                </td>
        
                                <!-- COMMENTS -->
                                <td class="table-comments-column"><span>  <i class="fas fa-comments"></i>  <%=workItems[i]["comments"].length%></span> </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>

        </div>
       
        <input type="hidden" name="projectId" id="projectId" value="<%=projectId%>">
        <input type="hidden" name="currentTab" id="currentTab" value="<%=activeTab%>">
    </div>

    <%- include('modals/workItemSubMenu/assign-to-user'); %>
    <%- include('modals/workItemSubMenu/assign-to-team'); %>

<%- include('modals/footer'); %>