<%- include('modals/header'); %>

<body>

    <%- include('modals/topNavbar'); %>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('modals/sideNavbar'); %>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <%- include('modals/titleOptionsMenu'); %>

            <div class="container-fluid statistics-boxs">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                    <i class="fas fa-users"></i>
                    <div class="filterByTeamContainer">
                        <% if(projectTeams.length > 1){ %>
                            <select 
                            class="custom-select my-custon-select input-border seletedTeamToFilter"
                            name="filterByTeamSprint" 
                            id="filter-by-team-sprint" 
                            aria-label="Default select example">
                                <% for (let i = 1; i < projectTeams.length; i++) { %>

                                    <% if (projectTeams[i]['id'] == userTeam.id) { %>
                                        <option value="<%=projectTeams[i]['id']%>" selected><%=projectTeams[i]['name']%></option>
                                    <% }else{ %>
                                        <option value="<%=projectTeams[i]['id']%>"><%=projectTeams[i]['name']%></option>
                                    <% } %>
                                
                                <% } %>
                            </select>
                        <% }else{ %>
                            <select 
                            class="custom-select my-custon-select input-border"
                            name="filterByTeam" 
                            id="filterByTeam" 
                            aria-label="Default select example"
                            disabled>
                            <option value="0" selected>Not team found</option>
                            </select>
                        <% } %>
                    </div>
                
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                    

                            <li class="nav-item trashIconWrapper">
                                &nbsp;
                                <button id="trashBtnWorkItem" class="trash-btn" disabled> <i class="far fa-trash-alt grayColor"></i> </button>
                            </li>

                        </ul>
                        <!-- <i class="fas fa-sync sprintIcon"></i> -->
                        <i class="fas fa-running sprintIcon"></i>

                        <div class="filterBySprintContainer">
                            <% if(sprints.length > 1){ %>
                                <select 
                                class="custom-select my-custon-select input-border"
                                name="sprintFilter" 
                                id="filterBySprint" 
                                aria-label="filter by sprint">
                                    <% for (let i = 1; i < sprints.length; i++) { %>
    
                                        <% if (sprints[i].status == "Active") { %>
                                            <option value="<%=sprints[i]['_id']%>" selected>
                                                <%=sprints[i]['name']%> :
                                                <%=sprints[i]['startDateFormated']%> - <%=sprints[i]['endDateFormated']%>
                                            </option>
                                        <% }else{ %>
                                            <option value="<%=sprints[i]['_id']%>">
                                                <%=sprints[i]['name']%> :
                                                <%=sprints[i]['startDateFormated']%> - <%=sprints[i]['endDateFormated']%>
                                            </option>
                                        <% } %>
                                    
                                    <% } %>
                                </select>
                            <% }else{ %>
                                <select 
                                class="custom-select my-custon-select input-border"
                                name="sprintFilter" 
                                id="filterBySprint" 
                                aria-label="filter by sprint"
                                disabled>
                                <option value="0" selected>Not Sprint found</option>
                                </select>
                            <% } %>
                        </div>

                        <div class="form-inline my-2 my-lg-0">
                            <input id="searchTable" class="form-control mr-sm-2" type="text" placeholder="Search">
                            
                            <button id="filterBtn" class="btn btn-secondary my-2 my-sm-0 filterBtn">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <!-- INCLUDE FILTER DIV HERE -->
                </nav>

                <%- include('modals/filter'); %>
            </div>

            <div class="p-4" id="table-container">
                <table class="table table-hover" id="workItemTable">
                    <thead>
                        <tr class="tableHeader">
                            <th class="tableCheckBoxRowHeader"> 
                                <input type="checkbox" name="checkAll" id="checkAllTableRow"/>
                                <span class="d-none">checkbox</span>
                            </th>
                            <th class="orderColumn">Order</th>
                            <th scope="col" class="tableColumnID">ID</th>
                            <th class="d-none" scope="col">Type</th>
                            <th class="col-title"  scope="col">Title</th>
                            <th scope="col" class="thworkItemSubMenu"> <span class="d-none">submenu</span> </th>
                            <th scope="col">Assigned</th>
                            <th scope="col">State</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Comments</th>
                            <th scope="col">Points</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < workItems.length; ++i) {%>
                            <tr class="rowValues" id="<%=workItems[i]['_id']%>">

                                <!-- CHECKBOX -->
                                <td class="tableCheckBoxRowElement"> 
                                    <label for="checkboxRowElement" class="invisible labelcheckbox"> 
                                        <input type="checkbox" name="checkboxWorkItem[]" value="<%=workItems[i]['_id']%>" class="checkboxRowElement" />
                                    </label> 
                                </td> 
                                
                                <!-- ORDER -->
                                <td class="orderColumn"><%=i+1%></td>
                                
                                <!-- id -->
                                <td class="tableColumnID"> <%=workItems[i]["itemId"]%></td>
                                
                                <!-- TYPE  - HIDEN -->
                                <td class="d-none" > <i class="fas <%=workItemType[workItems[i]['type']].icon%>"></i> <%=workItems[i]["type"]%></td>
                                
                                <!-- TITLE -->
                                <td class="openStory"> 
                                    <a href="workitems/<%=workItems[i]['_id']%>" class="open-existing-work-item-modal" rel="<%=workItems[i]['_id']%>">  
                                        <span class="table-icon"> <i class="fas <%=workItemType[workItems[i]['type']].icon%>"></i> </span>  <%=workItems[i]["title"]%> 
                                    </a> 
                                </td>

                                <!-- Sub MENU -->
                                <td class="tdWorkItemSubMenu">
                                    <span class="btn btn-outline-info workItemOpenSubMenu" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v workItemSubMenuIcon"></i>
                                    </span>
                                    <!-- <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a> -->
                                    <div id="workItemSubMenu" class="dropdown-menu " data-bs-popper="none">
                                        
                                        <a class="dropdown-item subMenuItem subMenuSprintItem" href="#" rel="0" id="<%=workItems[i]['_id']%>">
                                            Move to Backlog
                                        </a>                                        
                                        
                                        <%- include('modals/subMenuMoveToSprint', {i: i}); %>
                                    </div>
                                </td>

                                <!-- USER -->
                                <td> <i class="fas fa-user-astronaut"></i> <%=workItems[i]["assignedUser"]["name"]%></td>
                                
                                <!-- STATUS -->
                                <td><i class="fa fa-circle <%=workItems[i]['status']%>Color" aria-hidden="true"></i> <%=workItems[i]["status"]%></td>
                                
                                <!-- TAGS -->
                                <td class="tags-td"> 
                                    <% if (workItems[i]["tags"].length > 0)  {%>
                                        <% workItems[i]["tags"].forEach(each => { %>
                                            <span class="btn btn-info disabled btn-sm tags-container"><%=each%></span>
                                        <% }); %>
                                    <% } %>
                                </td>
                                
                                <!-- COMMENTS -->
                                <td class="table-comments-column"><span>  <i class="fas fa-comments"></i>  <%=workItems[i]["comments"].length%></span> </td>

                                <!-- POINTS -->
                                <td class="storyPointsRow"><%=workItems[i]["storyPoints"]%></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" name="projectId" id="projectId" value="<%=projectId%>">
        <input type="hidden" name="currentTab" id="currentTab" value="<%=activeTab%>">
    </div>

<%- include('modals/footer'); %>