<%- include('modals/header'); %>

    <%- include('modals/topNavbar'); %>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('modals/sideNavbar'); %>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <%- include('modals/titleOptionsMenu'); %>

            <div class="container-fluid statistics-boxs">
                <div class="row project-main-status-container">

                    <!--  Status box -->
                    <div class="col p-md-4">
                        <p class="statistics-title">Status <i class="fas fa-satellite"></i></p>

                        <div class="status-container">
                            
                            <div class="form-group project-status-container">

                                <select class="custom-select" name="projectStatus" id="projectStatus">

                                    <% projectStatus.forEach(function(status){ %>

                                        <% if (status == project["status"]){ %>
                                            <option selected value="<%=status%>"><%=status%></option>

                                        <% } else {%>
                                            <option value="<%=status%>"><%=status%></option>
                                        <% }%>

                                    <% }); %>
                                </select>
                               
                            </div>
                        </div>

                        <div class="mt-2">
                            <p>Everything looks fine. Continue working</p>

                            <ul class="status-list list-unstyled">
                                <li> Owner: <span id="ownerName"> <%=projectOwner%></span></li>
                                <li>Project Start Date: <span id="startDate"><%=creationDate%></span></li>
                                <!-- <li>Current Sprint: <span id="currentSprint"><%=currentSprint%></span></li> -->
                            </ul>
                        </div>
                    </div>

                    <!-- Project Descript Box -->
                    <div class="col p-md-3">
                        <p class="statistics-title">Project Description <i class="far fa-file-alt icons"></i></p>

                        <div class="row">
                            <div class="col">
                                <p id="projectDescription"><%=project["description"]%></p>
                            </div>

                        </div>
                    </div>

                    <!-- Members Box -->
                    <div class="col p-md-3">
                        <p class="statistics-title">Members <i class="fas fa-users icons"></i></p>

                        <div class="mt-2">
                            <p id="number-of-members-text"> <%=numberOfMemberText%></p>
                            <input type="hidden" name="numberOfUsers" id="number-of-members-value" value="<%=numberOfMember%>">
                            
                            <ul class="member-list list-unstyled">
                                <li> 
                                    <span id="memberOfMonth"> Member of the month: </span> 
                                    <span id="memberOfMonthName">Raul Pichardo</span> </li>
                                <br>
                                <li>
                                    <div class="row user-row">
                                        <div class="col">
                                            <span>
                                                <a href="#" id="addUserBtn" role="button" 
                                                    data-toggle="modal" 
                                                    data-target=".add-user-project-modal">
                                                    <span> Invite </span> <i class="fas fa-user-plus memberCardIcon"></i> 
                                                </a>
                                            </span>
                                        </div>

                                        <div class="col">
                                            <span>
                                                <a href="#" id="removeUserBtn" role="button" 
                                                    data-toggle="modal" 
                                                    data-target=".delete-user-modal">

                                                    <span> Remove </span> <i class="fas fa-trash memberCardIcon"></i> 
                                                </a>
                                            </span>

                                        </div>

                                        <div class="col">
                                            <span>
                                                <a href="#" id="viewPerformancesBtn"> 
                                                    Performances <i class="fas fa-chart-pie memberCardIcon"></i> 
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

               
                <div class="row">

                    <!--  CHART? box -->
                    <div class="col col-7" style="text-align: center;">
                       <h1 class="my-auto pt-5" style="height: 100%;">
                           Still in development...
                       </h1>
                    </div>

                    <!-- Breakdown Box -->
                    <div class="col col-4 p-4 status-breakdown-container">
                        
                        <div class="chart-container">
                            <canvas id="statusBreakdownChart"></canvas>
                        </div>

                        <div class="d-none chart-data" id="chart-data">
                            <% for(let status of Object.keys(pieData)) { %>
                                <input type="hidden" name="<%=status%>" id="pie-<%=status%>-input" value="<%=pieData[status]%>">
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" name="projectId" id="projectId" value="<%=projectId%>">
        <input type="hidden" name="currentTab" id="currentTab" value="<%=activeTab%>">
    </div>
    
<%- include('modals/footer'); %>