<%- include('templates/header'); %>

<%- include('templates/top-navbar'); %>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('templates/project-sidebar'); %>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <!-- Large modal -->

            <div class="work-item-wrapper">
                                    
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"> 
                        Work Item 
                        <span class="workItemIcon">
                            <i class="fas fa-dragon"></i>
                        </span> 
                    </h5>
                </div>

                <div class="modal-body">
                    <fieldset>
                        
                        <div class="row">

                            <div class="col-12">
                                <div class="d-inline-flex titleAndId">
                                    
                                    <div class="labelForTitle">
                                        <label for="title"> <%=workItem["itemId"]%> </label>
                                    </div>
                                    <!-- TITLE -->
                                    <div class="inputForTitle">
                                        <input type="text" autocomplete="off" 
                                        name="title" 
                                        id="update-work-item-title" 
                                        class="bx-shadow " 
                                        value="<%=workItem['title']%>" 
                                        placeholder="Enter title">        
                                    </div>
                                </div>
                            </div>

                            <div class="col ml-12">
                                <span id="update-title-span-msg" class="d-none">
                                    <i class="fas fa-exclamation-circle"></i>
                                    Title cannot be empty
                                </span>
                            </div>
                        </div>

                        <div class="row no-m-bt">
                            
                            <div class="col-3">

                                <div class="form-group d-flex">
                                    <i class="fas fa-user userLogo"></i>
                                    <!-- ASSIGNED USER -->
                                    <select class="custom-select my-custon-select " name="userAssigned" id="update-assigned-user">
                                        <% for (user of assignedUsers){ %>
                                            <% if (user.selected || (workItem["assignedUser"]["id"] && (user["id"].toString() === workItem["assignedUser"]["id"].toString())) ) {%>
                                                <option value="<%=user['id']%>" selected>
                                                    <%=user["name"]%>
                                                </option>
                                            <%}else {%>
                                                <option value="<%=user['id']%>">
                                                    <%=user["name"]%>
                                                </option>
                                            <%}%>
                                        <%}%>
                                    </select>
                                </div>

                            </div>

                            <div class="col-1">
                                <span>
                                    <i class="fas fa-comments"></i> <span id="update-number-of-comments"> <%=workItem['comments'].length%></span>
                                </span>
                            </div>

                            <div class="col-7 update-tags-container">
                                <button type="button" id="udpate-add-tags-btn" class="btn btn-primary">
                                    Add tag
                                </button>

                                <% for (let tag of workItem["tags"]){ %>
                                    <span class="badge badge-secondary"> 
                                        <input type="text" name="tags[]" autocomplete="off" value="<%=tag%>" placeholder="Enter tag " class='update-work-item-tags'> 
                                        <span aria-hidden="true" class="rmTag">&times;</span>  
                                    </span>
                                <%}%>
                            </div>

                            <!-- BUTTON TO SAVE THE WORK ITEM STATUS -->
                            <div class="col">
                                <div class="saveStatusBtn" id="saveStatusBtn">
                                    <i class="far fa-save"></i>
                                    <span class="tooltiptext">Save</span>
                                </div>
                            </div>
                        </div>

                        <div class="row create-work-item-bg">
                            <div class="col-12 mt-4">
                                <div class="row">
                                    
                                    <div class="col-3 d-flex">
                                        
                                        <span class="title aling-vertically align-self-center"> 
                                            Status:
                                        </span>

                                        <ul class="nav nav-pills flex-column" id="customSelectStatus">
                                            <li class="nav-item dropdown">
                                                <!-- STATUS -->
                                                <a class="nav-link dropdown-toggle currentWorkItemStatus"
                                                    data-toggle="dropdown" 
                                                    href="#" 
                                                    role="button"
                                                    aria-haspopup="true" 
                                                    id="update-current-work-item-status"
                                                    aria-expanded="false">
                                                    
                                                    <% for (const [key, value] of Object.entries(statusWorkItem)) { %>
                                                        <% if (key.toString() === workItem["status"]){ %>
                                                            <i class="fa fa-circle <%=value['class']%>" aria-hidden="true"></i>
                                                            <%=key%>
                                                        <%}%>
                                                    <%}%>
                                                </a>

                                                <div class="dropdown-menu">

                                                    <% for (const [key, value] of Object.entries(statusWorkItem)) { %>
                                                        <a class="dropdown-item update-btn-status <%=key%>" href="#">
                                                            <span> 
                                                                <i class="fa fa-circle <%=value['class']%>" aria-hidden="true"></i>
                                                                <%=key%>
                                                            </span>
                                                        </a>
                                                    <%}%>
                                                </div>
                                            </li>
                                        </ul>
                                        <input type="hidden" class="" name="workItemStatus" id="update-work-item-status" value="<%=workItem['status']%>">
                                    </div>

                                    <div class="col-4 d-flex assignedTeam-container">
                                        <span class="title aling-vertically align-self-center"> Team: </span>

                                        <select class="custom-select my-custon-select" name="teamAssigned" id="update-work-item-team">
                                            <% for (team of projectTeams){ %>
                                                <% if (team.selected || (workItem["teamId"] && (team["id"].toString() === workItem["teamId"].toString()))) {%>
                                                    <option value="<%=team['id']%>" selected>
                                                        <%=team["name"]%>
                                                    </option>
                                                <%}else {%>
                                                    <option value="<%=team['id']%>">
                                                        <%=team["name"]%>
                                                    </option>
                                                <%}%>
                                            <%}%>
                                        </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-3 d-flex">
                                        <span class="title aling-vertically align-self-center"> Type: </span>

                                        <ul class="nav nav-pills flex-column" id="customSelect">
                                            
                                            <li class="nav-item dropdown">
                                                <!-- TYPE -->
                                                <a class="nav-link dropdown-toggle"
                                                    data-toggle="dropdown" 
                                                    href="#" 
                                                    role="button"
                                                    aria-haspopup="true" 
                                                    id="update-current-type"
                                                    aria-expanded="false">
                                                    <% for(let key in workItemType){ %>
                                                        <% if (key.toString() === workItem["type"]){ %>
                                                            <i class="fas <%=workItemType[key].icon%>"></i> &nbsp;
                                                            <%=key%>
                                                            <%break;%>
                                                        <%}%>
                                                    <%}%>
                                                </a>

                                                <div class="dropdown-menu">
                                                    <% for(let key in workItemType){ %>
                                                        <a class="dropdown-item update-btn-type" href="#">
                                                            <span> <i class="fas <%=workItemType[key].icon%>"></i> &nbsp; 
                                                                <%=key%> 
                                                            </span>
                                                        </a>
                                                    <%}%>
                                                </div>
                                            </li>
                                        </ul>
                                        <input type="hidden" name="workItemType" class="" id="update-work-item-type" value="<%=workItem['type']%>">
                                    </div>

                                    <div class="col-4 d-flex">
                                        <span class="title aling-vertically align-self-center"> Iteration:</span>
                                        <select class="custom-select my-custon-select "
                                            name="sprint" id="update-work-item-sprints">
                                            <% for (let sprint of sprints){ %>

                                                <% if (sprint["_id"] && sprint["_id"].toString() === "0") { %>
                                                    <option value="<%=sprint['_id']%>">
                                                        <%=sprint['name']%> 
                                                    </option>
                                                <%} else if (sprint["_id"].toString() == activeSprintId.toString()) { %>
                                                    <option value="<%=sprint['_id']%>" selected>
                                                        <%=sprint['name']%> :
                                                        <%=sprint['startDateFormated']%> - <%=sprint['endDateFormated']%>
        
                                                        <% if (sprint.status == "Active") { %>
                                                            (current)
                                                        <% } %>
        
                                                    </option>
                                                <%} else if (sprint.status == "Active") { %>
                                                    <option value="<%=sprint['_id']%>">
                                                        <%=sprint['name']%> :
                                                        <%=sprint['startDateFormated']%> - <%=sprint['endDateFormated']%>
                                                        (current)
                                                    </option>
                                                <% }else{ %>
                                                    <option value="<%=sprint['_id']%>">
                                                        <%=sprint['name']%> :
                                                        <%=sprint['startDateFormated']%> - <%=sprint['endDateFormated']%>
                                                    </option>
                                                <% } %>
                                            <%}%>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="main-body-container" class="hide-functional-scroll">

                            <div class="row desc-planing-development">
                                <!-- Description -->
                                <div class="col">
                                    <h5 class="pd-p">Description</h5>
                                    <textarea 
                                    name="workItemDescription" 
                                        id="update-work-item-description"
                                        rows="5" 
                                        placeholder="Enter Description."
                                        class="bx-shadow descriptionBox"
                                        ><%=workItem['description']%></textarea>
                                </div>

                                <!-- Points -->
                                <div class="col-3 planing-work-item">
                                    <h5 class="pd-p">Planing</h5>

                                    <p>Story Points</p>
                                    <input type="text" 
                                        name="storyPoints" 
                                        class="input-style input-border"
                                        id="update-work-item-points" 
                                        placeholder="Enter points: i.e 5" 
                                        value="<%=workItem['storyPoints']%>">

                                    <p>Priority</p>
                                    <select 
                                        class="custom-select my-custon-select input-border"
                                        name="priorityPoints" 
                                        id="update-work-item-priority" 
                                        aria-label="Default select example">
                                        <% for( const [key, value] of Object.entries(priorityPoints) ) { %>

                                            <% if (value == workItem['priorityPoints'] ) { %>
                                                <option value="<%=value%>" selected> <%=key%> - <%=value%> </option>
                                            <% }else{ %>
                                                <option value="<%=value%>"> <%=key%> - <%=value%> </option>
                                            <% } %>
                                        <% } %>
                                    </select>

                                </div>

                                <!-- Add Link Section -->
                                <div class="col-3 addLink hide-functional-scroll">
                                    <h5 class="pd-p">Related work</h5>
                                    <p class="open-add-links-options" data-modal-open="update" data-workitem-id="0"> 
                                        <i class="fas fa-plus "></i> Add link
                                    </p>

                                    <div class="work-item-relationship-container update-work-item-relationship-container hide-functional-scroll">
                                        
                                        <% for (let relationship of Object.keys(workItem["relatedWorkItems"])) {%>
                                            <div class="work-item-relationship mb-2">
                                                <div class="work-item-relationship-title" id="<%=relationship%>">
                                                    <span><%=WORK_ITEM_RELATIONSHIP[relationship]['title']%></span>
                                                </div>
                                                
                                                <% for (let relatedWorkItem of workItem["relatedWorkItems"][relationship]) {%>
                                                    <div class="related-workitem mb-2">

                                                        <span class="remove-relationship-btn" data-workitem-id="<%=relatedWorkItem['_id']%>">
                                                            <i class="fas fa-times-circle"></i>
                                                        </span>

                                                        <div class="work-item-relationship-name-container">
                                                            
                                                            <a href="<%=relatedWorkItem['_id']%>">    
                                                                <span class="work-item-relationship-id">
                                                                    <i class="fas <%=workItemType[relatedWorkItem['type']].icon%>"></i>

                                                                    <span class="related-workitem-item-id"> <%=relatedWorkItem['itemId']%> </span>
                                                                </span>
                    
                                                                <span class="work-item-relationship-name">
                                                                    <%=relatedWorkItem['title']%>
                                                                </span>
                                                            </a>
                                                        </div>

                                                        <div class="work-item-relationship-status-container">
                    
                                                            <span class="work-item-relationship-updated">
                                                                Updated <%=relatedWorkItem['lastUpdatedDate']%>,
                                                            </span>
                    
                                                            <span class="work-item-relationship-status">
                                                                <i class="fa fa-circle <%=relatedWorkItem['status']%>Color" aria-hidden="true"></i>
                                                                <%=relatedWorkItem['status']%>
                                                            </span>
                                                        </div>
                                                        <input class="relationship-workitem-id" type="hidden" name="workItemItemId" value="<%=relationship%>-<%=relatedWorkItem['_id']%>">
                                                    </div>
                                                <% }%>
                                            </div>
                                        <% }%>
                                    </div>
                                </div>

                            </div>
                            <!-- Discussion -->
                            <div class="row desc-planing-development" >
                                <div class="col-6">

                                    <div>
                                        <h5 class="pd-p">Discussion</h5>
                                        <textarea name="comments" 
                                            id="update-work-item-comments" rows="4"
                                            placeholder="Add a comment for this story." 
                                            class="bx-shadow addCommentBox"></textarea>
                                    </div>

                                    <button id="update-add-comment" type="button" class="btn btn-success addComment">Add</button>
                                </div>
                            </div>

                            <div class="col-6 comments-container comments-container-unique-workItem">
                                <div class="user-comments-container">
                                    <% if (workItem['comments'] && workItem['comments'].length > 0){%>
                                        
                                        <% for (let userComment of workItem['comments'].reverse()) {%>
                                            <div class="work-item-comment" id="<%=userComment['_id']%>">

                                                <% if (userComment["author"].toString() === currentUser["_id"].toString()){ %>

                                                    <div class="flex">

                                                        <div class="work-item-comment-user-name">
                                                            <span class="small">
                                                                My comment
                                                            </span>
                                                        </div>
                                                        
                                                        <div class="work-item-comment-buttons">
                                                            <span role="button" class="removeCommentIcon" data-comment-id="<%=userComment['_id']%>" data-toggle="modal" data-target="#remove-confirmation-modal">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <textarea name="comments" 
                                                        rows="3"
                                                        data-comment-id="<%=userComment['_id']%>"
                                                        placeholder="Add a comment for this work item." 
                                                        class="bx-shadow addCommentBox userCommentBox"><%=userComment["comment"]%></textarea>
                                                    </div>
                                                <%}else{%>
                                                    <div>

                                                        <div class="flex">
                                                        
                                                            <div class="work-item-comment-user-name">
                                                                <span class="small">
                                                                   <%=userComment["userName"]%>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <textarea name="comments" 
                                                        rows="3"
                                                        disabled
                                                        placeholder="Add a comment for this work item." 
                                                        class="bx-shadow addCommentBox userCommentBox"><%=userComment["comment"]%></textarea>
                                                    </div>
                                                <%}%>    
                                            </div>
                                        <%}%>    
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <%- include('templates/right-sidebar-menu'); %>

    </div>

    <input type="hidden" name="projectId" id="projectId" value="<%=projectId%>">
    <input type="hidden" name="workItemId" id="workItemId" value="<%=workItem['_id']%>">
    <input type="hidden" name="currentTab" id="currentTab" value="<%=activeTab%>">
<%- include('templates/footer'); %>