<%- include('templates/header'); %>

<body>

    <%- include('templates/top-navbar'); %>

    <div class="wrapper d-flex align-items-stretch" >

        <%- include('templates/left-sidebar'); %>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <%- include('templates/title-options-menu'); %>

            <div class="container-fluid statistics-boxs">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-1">

                    <button class="navbar-brand" id="createWorkItem" data-toggle="modal" data-target=".createNewItemModal">
                        <i class="fas fa-plus"></i> Work Item
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Columns options</a>
                            </li>


                            <!-- Trash button -->
                            <li class="nav-item trashIconWrapper">
                                &nbsp;
                                <button id="trashBtnWorkItem" class="trash-btn" disabled data-toggle="modal" data-target="#remove-confirmation-modal"> 
                                    <i class="far fa-trash-alt grayColor"></i> 
                                </button>
                            </li>

                        </ul>

                        <!-- Search and filter -->
                        <div class="form-inline my-2 my-lg-0">
                            <input id="searchTable" class="form-control mr-sm-2" type="text" placeholder="Search">
                            
                            <button id="filterBtn" class="btn btn-secondary my-2 my-sm-0 filterBtn">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <!-- INCLUDE FILTER DIV HERE -->
                </nav>

                <%- include('templates/filter'); %>
            </div>

            <!-- SHOW WHEN EMPTY -->
            <% if (workItems.length == 0) {%>
                <%- include('templates/info/when-wi-empty'); %>      
                <div class="p-4 hide-functional-scroll" id="table-container" style="display: none;">      
            <% } else { %>
                <div class="p-4 hide-functional-scroll" id="table-container">      
            <% } %>
                    <table class="table table-hover" id="workItemTable">
                        <thead>
                            <%- include('templates/table-work-items/header'); %>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < workItems.length; ++i) {%>
                                <tr class="rowValues <%=workItems[i]['status']%>" id="<%=workItems[i]['_id']%>">
                                    
                                    <!-- CHECKBOX -->
                                    <%- include('templates/table-work-items/toggle-checkbox', {i}); %>
                                    
                                    <!-- ID -->
                                    <%- include('templates/table-work-items/id-column', {i}); %>
                                    
                                    <!-- TYPE: HIDDEN -->
                                    <%- include('templates/table-work-items/type-column', {i}); %>
                                    
                                    <!-- TITLE -->
                                    <%- include('templates/table-work-items/title-column', {i}); %>

                                    <!-- SUB MENU - WORK ITEMS -->
                                    <%- include('templates/table-work-items/sub-menu/work-items', {i}); %>
            
                                    <!-- ASSIGNED -->
                                    <%- include('templates/table-work-items/user-column', {i}); %>

                                    <!-- STATUS -->
                                    <%- include('templates/table-work-items/status-column', {i}); %>
                                
                                    <!-- TEAM -->
                                    <%- include('templates/table-work-items/team-column', {i}); %>
            
                                    <!-- SPRINT -->
                                    <%- include('templates/table-work-items/sprint-column', {i}); %>
            
                                    <!-- TAGS -->
                                    <%- include('templates/table-work-items/tags-column', {i}); %>
                                    
                                    <!-- COMMENTS -->
                                    <%- include('templates/table-work-items/comments-column', {i}); %>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
            </div>
        </div>

        <%- include('templates/right-sidebar-menu'); %>
    </div>

    <!-- Sub menu modals -->
    <%- include('modals/workItemSubMenu/assign-to-user'); %>
    <%- include('modals/workItemSubMenu/assign-to-team'); %>

<%- include('templates/footer'); %>