<!-- ========= MODALS =========  -->
<% if (projectId) { %>
    <input type="hidden" name="projectId" id="projectId" value="<%=projectId%>">
    <input type="hidden" name="currentTab" id="currentTab" value="<%=activeTab%>">
<% } %>


<!-- User Modals -->
<% if (addUserModal) { %>
    <%- include('../modals/user/add-user-project'); %>
    <%- include('../modals/user/remove-user-project'); %>
<% } %>

<% if (showCreateWorkItemModal) { %>
    <!-- Modal for creating work item -->
    <%- include('../modals/create-work-item'); %>
    <%- include('../modals/edit-work-item'); %>
<% } %>

<!-- team Modals -->
<% if (assignedUsers && projectTeams) { %>
    <%- include('../modals/team/create-team'); %>
    <%- include('../modals/team/delete-team'); %>
<% } %>

<!-- Sprints -->
<% if (sprints) { %>
    <%- include('../modals/sprints/create-sprint'); %>
    <%- include('../modals/sprints/remove-sprint'); %>
    <%- include('../modals/sprints/update-sprint'); %>
<% } %>

<!-- Project invitation modal -->
<%- include('../modals/project-invitation'); %>

<!-- Delete work item confirmation modal -->
<%- include('../modals/delete-confirmation'); %>

<input type="hidden" id="current-page" name="currentPage" value="<%=currentPage%>">
<input type="hidden" id="sprint-time-period" name="sprintTimePeriod" value="<%=sprintDefaultTimePeriod%>">
<input type="hidden" id="current-user-id" name="userId" value="<%=currentUser['_id']%>">

<!-- ==========================  -->

<!-- Dependecies -->
<script src="/javascripts/dependecies/jquery3.5.2.js"></script>
<script src="/javascripts/dependecies/validator.min.js"></script>
<script src="/javascripts/dependecies/lodash.js"></script>
<script src="/javascripts/constants.js"></script>
<script src="/javascripts/dependecies/notify.min.js"></script>
<script src="/javascripts/helpers.js"></script>
<script src="/javascripts/dependecies/select2.min.js"></script>
<script src="/javascripts/dependecies/bootstrap-5.0.2.bundle.min.js"></script>


<!-- DATE PICKER -->
<script type="text/javascript" src="/javascripts/dependecies/date-picker/moment.min.js"></script>
<script type="text/javascript" src="/javascripts/dependecies/date-picker/daterangepicker.js"></script>
<!-- END -->


<!-- NOTIFICATION -->
<script src="/javascripts/notificastion-ui.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

<!-- Add defaults for notify -->
<script>
    $.notify.defaults({ "autoHideDelay": 4000, "position":"top center"});

    // to show custon message
    $.notify.addStyle('custom', {
        html: 
        `<div>
            <div class="notifyjs-wrapper notifyjs-hidable">
                <div class="notifyjs-container" style="">
                    <div class="notifyjs-bootstrap-base notifyjs-bootstrap-success">
                        <span class="text" data-notify-text="text"></span>
                    </div>
                </div>
            </div>
        </div>`
    });
</script>


<!-- Adding scritps -->
<% if (scriptsPath){ %>
    <% for (let path of scriptsPath){ %>
        <script src="<%=path%>"> </script>
    <%}%>
<% } %>
</body>
</html>
<!-- https://bootswatch.com/darkly/ -->
