<nav id="sidebar" class="side-navbar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5"
            style="background-image: url(/images/solar-system.svg);"></a>

        <!-- Load name dynamic  -->
        <p id="projectName"></p>

        <ul class="list-unstyled components mb-5">

            <!-- STATISTICS -->
            <li>
                <a href="/dashboard/<%=projectId%>" class="urlBtn" role="button" id="Statistics">
                    <i class="fas fa-chart-line"></i> <span> Statistics</span>
                </a>
            </li>


            <!-- WORK ITEM -->
            <li>
                <a href="/dashboard/<%=projectId%>/workitems" class="urlBtn" role="button" id="WorkItem">
                    <i class="fas fa-clipboard-list"></i> <span> Work Items</span>
                </a>
            </li>

            <!-- MY WORK ITEMS -->
            <li>
                <a href="/dashboard/<%=projectId%>/workitems?showOnlyMine=true" class="urlBtn" role="button" id="MyWorkItems">
                    <i class="fas fa-thumbtack"></i> <span> My Work Items</span>
                </a>
            </li>

            <!-- BACKLOG -->
            <li>
                <a href="/dashboard/<%=projectId%>/backlog" class="urlBtn" role="button" id="Backlog">
                    <i class="fas fa-cubes"></i> <span> Backlog </span>
                </a>
            </li>

            <!-- SPRINT -->
            <li>
                <a href="/dashboard/<%=projectId%>/sprint"class="urlBtn" role="button" id="SprintPlaning">
                    <i class="fas fa-fire"></i> <span> Sprint</span>
                </a>
            </li>

            <!-- BOARD -->
            <li>
                <a href="/dashboard/<%=projectId%>/sprint/board" class="urlBtn" role="button" id="SprintBoard">
                    <i class="fas fa-border-all"></i> <span> Board</span>
                </a>
            </li>

            <!-- REVIEW -->
            <li>
                <a href="/dashboard/<%=projectId%>/sprint/review" class="urlBtn" role="button" id="SprintReview">
                    <i class="fas fa-chart-bar"></i>  <span> Sprint Review </span>
                </a>
            </li>

            <li>
                <a href="/dashboard/<%=projectId%>/queries" class="urlBtn queries" role="button" id="ProjectQueries">
                    <i class="fas fa-search-plus"></i>   <span> Queries</span>
                </a>
            </li>

            <li>
                <a href="#" class="urlBtn wiki disabled" role="button" id="linkToWiki">
                    <i class="fas fa-book-open"></i>  <span> Wiki</span>
                </a>
            </li>

        </ul>
    </div>
</nav>